:root {
    --main-color: #D94436;
}

.op-0 {
    opacity: 0;
}

.op-1 {
    opacity: 1;
}

/* TIMELINE CAROUSEL */
/* ================================================ */
.timeline-carousel {
    height: 780px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 192px;
    margin-top: 100px;
}

/* the background of timeline carousel */
.carousel-bg {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    transition: all 2000ms;
}

.timeline-bg-container {
    transition: all 600ms;
}


.content-section {
    width: 800px;
}

.timeline-menu {
    display: flex;
    margin: 0 40px;
    left: -13%;
    position: relative;
}

.timeline-menu>.text-container {
    margin-left: 20px;
    width: 80px;
}

.timeline-btn-text {
    position: absolute;
    font-size: 20px;
    margin-top: -3px;
}


.timeline-btn-container {
    height: 100%;
    width: 1px;
    background: #3E3D3D;
    position: relative;
}

.filler {
    position: absolute;
    width: 100%;
    background: var(--main-color);
    height: 18%;
}



/* round buttons styles */
.bt {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #3E3D3D;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 400ms;
}

.bt:hover,
.bt-active {
    /* bt-hover call will be added by javascript */
    height: 24px;
    width: 24px;
}

.bt-active,
.bt-previous {
    background-color: var(--main-color);
}





/* POSITION OF THE ROUND BUTTONS */
.bt:nth-of-type(1),
.timeline-btn-text:nth-of-type(1) {
    top: 18%;
}

.bt:nth-of-type(2),
.timeline-btn-text:nth-of-type(2) {
    top: 36%;
}

.bt:nth-of-type(3),
.timeline-btn-text:nth-of-type(3) {
    top: 54%;
}

.bt:nth-of-type(4),
.timeline-btn-text:nth-of-type(4) {
    top: 73%;
}




.timeline-carousel>.content-section {
    position: relative;
}

.timeline-text-container {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}

.timeline-heading {
    font-size: 56px;
    padding: 6px 0;
    border-bottom: 2px solid var(--main-color);
    display: inline-block;
    margin-bottom: 50px;
    letter-spacing: 2px;
}


@media only screen and (max-width:1500px) {
    .timeline-menu {
        left: -5%;
    }
}

@media only screen and (max-width:1200px) {
    .timeline-text-container {
        width: 96%;
    }

    .timeline-menu {
        left: 0;
    }
}

@media only screen and (max-width: 800px) {
    /* .timeline-heading {
        font-size: 40px;
    } */

    .timeline-btn-text {
        font-size: 17px;
    }

    .timeline-text-container {
        position: relative;
        top: 45%;
    }
}


/* changed version */
@media screen and (max-width: 700px) {
    .bt {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #3E3D3D;
        position: absolute;
        left: 0%;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 400ms;
    }

    .timeline-carousel {
        flex-direction: column;
        height: 604px;
    }

    .timeline-btn-container {
        height: 1px;
        width: 100%;
        background: #3E3D3D;
        position: relative;
    }

    .content-section {
        width: unset;
    }

    .timeline-menu {
        display: flex;
        margin: 0;
        /* left: -13%; */
        position: absolute;
        flex-direction: column-reverse;
        width: 100%;
        top: -68px;
    }


    .bt-active,
    .bt-previous {
        background-color: var(--main-color);
    }

    .bt:hover,
    .bt-active {
        /* bt-hover call will be added by javascript */
        height: 24px;
        width: 24px;
    }

    /* FILLER */
    .filler {
        width: 10%;
        height: 1px;
    }

    /* POSITION OF THE ROUND BUTTONS */
    .bt:nth-of-type(1) {
        left: 10%;
        top: 0;
    }

    .bt:nth-of-type(2) {
        left: 32%;
        top: 0;
    }

    .bt:nth-of-type(3) {
        left: 56%;
        top: 0;
    }

    .bt:nth-of-type(4) {
        left: 80%;
        top: 0;
    }

    /*  the text position */
    .timeline-btn-text:nth-of-type(1) {
        left: 8%;
        top: -39px;
    }

    .timeline-btn-text:nth-of-type(2) {
        left: 30%;
        top: -39px;
    }

    .timeline-btn-text:nth-of-type(3) {
        left: 52%;
        top: -39px;
    }

    .timeline-btn-text:nth-of-type(4) {
        left: 79%;
        top: -39px;
    }


    .timeline-text-container {
        top: 39%;
        width: 100%;
        padding: 0 20px;
    }

}

@media only screen and (max-width: 550px) {
    .timeline-menu {
        display: flex;
    }

    .timeline-heading {
        font-size: 40px;
    }

    /* .timeline-para {
        font-size: 15px;
        word-spacing: 1px;
    } */

    /* .timeline-text-container {
        width: 90%;
    } */

    .timeline-carousel {
        height: 750px;
    }
}

@media only screen and (max-width: 400px) {
    /* .timeline-text-container {
        top: 50%;
    } */

    .timeline-carousel {
        height: 850px;
    }
}

@media only screen and (max-width: 350px) {

    /* .timeline-carousel {
        flex-direction: column;
        height:494px;
    } */
    .timeline-carousel {
        height: 950px;
    }
}