:root {
    --main-color: #D94436;
}

.op-0 {
    opacity: 0;
}

.op-1 {
    opacity: 1;
}

/* TIMELINE CAROUSEL */
/* ================================================ */
.timeline-carousel {
    height: 780px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 192px;
    margin-top: 100px;
}

/* the background of timeline carousel */
.carousel-bg {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    transition: all 2000ms;
}

.timeline-bg-container {
    transition: all 600ms;
}


.content-section {
    width: 800px;
}

.timeline-menu {
    display: flex;
    margin: 0 40px;
    left: -13%;
    position: relative;
}

.timeline-menu>.text-container {
    margin-left: 20px;
    width: 80px;
}

.timeline-btn-text {
    position: absolute;
    font-size: 20px;
    margin-top: -3px;
}


.timeline-btn-container {
    height: 100%;
    width: 1px;
    background: #3E3D3D;
    position: relative;
}

.filler {
    position: absolute;
    width: 100%;
    background: var(--main-color);
    height: 18%;
}



/* round buttons styles */
.bt {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #3E3D3D;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 400ms;
}

.bt:hover,
.bt-active {
    /* bt-hover call will be added by javascript */
    height: 24px;
    width: 24px;
}

.bt-active,
.bt-previous {
    background-color: var(--main-color);
}





/* POSITION OF THE ROUND BUTTONS */
.bt:nth-of-type(1),
.timeline-btn-text:nth-of-type(1) {
    top: 18%;
}

.bt:nth-of-type(2),
.timeline-btn-text:nth-of-type(2) {
    top: 36%;
}

.bt:nth-of-type(3),
.timeline-btn-text:nth-of-type(3) {
    top: 54%;
}

.bt:nth-of-type(4),
.timeline-btn-text:nth-of-type(4) {
    top: 73%;
}




.timeline-carousel>.content-section {
    position: relative;
}

.timeline-text-container {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}

.timeline-heading {
    font-size: 56px;
    padding: 6px 0;
    border-bottom: 2px solid var(--main-color);
    display: inline-block;
    margin-bottom: 50px;
    letter-spacing: 2px;
}


@media only screen and (max-width:1500px) {
    .timeline-menu {
        left: -5%;
    }
}

@media only screen and (max-width:1200px) {
    .timeline-text-container {
        width: 96%;
    }
    .timeline-menu {
        left: 0;
    }
}

@media only screen and (max-width: 800px) {
    .timeline-heading {
        font-size: 40px;
    }

    .timeline-btn-text {
        font-size: 17px;
    }

    .timeline-text-container {
        position: relative;
        top: 45%;
    }
}

@media only screen and (max-width: 550px) {
    .timeline-menu {
        display: flex;
    }

    .timeline-heading {
        font-size: 30px;
    }

    .timeline-para {
        font-size: 15px;
        word-spacing: 1px;
    }

    .timeline-text-container {
        width: 90%;
    }

    .timeline-carousel {
        height: 980px;
    }
}

@media only screen and (max-width: 450px) {
    .timeline-text-container {
        top: 50%;
    }

    .timeline-carousel {
        height: 1200px;
    }
}

@media only screen and (max-width: 350px) {
    .timeline-carousel {
        height: 1400px;
    }
}